amplify-codegen-temp/models
amplify/
src/types/aws-amplify-react-native.d.ts
src/models/
src/services/
.prettierrc
.eslintrc.js
babel.config.js
metro.config.js
tsconfig.json
build/*
dist/*
node_modules/*
__tests__/*